
/* Contacto */
.contenedor-multimedia {
    display: flex;
    gap: 40px;
}

.tarjeta-multimedia {
    flex: 1;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.tarjeta-multimedia h3 {
    color: var(--color-acento);
    font-size: 1.6rem;
    margin-bottom: 15px;
    border-bottom: 2px solid #e5e7eb;
    padding-bottom: 10px;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border-radius: 8px;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.tarjeta-multimedia audio {
    width: 100%;
    margin-top: 10px;
    border-radius: 50px;
}

.tarjeta-multimedia address {
    font-style: normal;
}
