
/* Noticias */
.contenedor-noticias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.tarjeta-noticia {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: all 0.4s ease;
    border-left: 5px solid var(--color-acento);
}

.tarjeta-noticia:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.tarjeta-noticia h3 {
    color: var(--color-principal);
    font-size: 1.35rem;
    margin-bottom: 8px;
}

.tarjeta-noticia .fecha {
    font-size: 0.9rem;
    color: var(--color-texto-gris);
    margin-bottom: 15px;
    display: block;
}

.enlace-noticia {
    color: var(--color-acento);
    font-weight: 600;
    display: block;
    margin-top: 15px;
    text-decoration: none;
}
.enlace-noticia:hover {
    text-decoration: underline;
}
